.news{
    height: 100%;
    width: 100%;
}
.controll {
    position: fixed;
    bottom: 5%;
    right: 5%;
    transform: translate(-50%,-50%);

}
.show {
    display: none;
    margin-left: 0;
}
.ant-form-item-label  {
    text-align: left!important;
}